---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FoldSection from "../components/FoldSection.astro";
import ContactSection from "../components/ContactSection.astro";
import Services from "../components/Services.astro";
---
<script>
	import { MessageSender } from "../controllers/messageSender";
	MessageSender.getInstance();
</script>
<Layout title="Christopher Jones | Software Development">
	<main class="relative w-screen">
		<HeroSection />
		<Services />
		<FoldSection />
		<ContactSection />
	</main>
</Layout>
