---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Christopher Jones">
	<main class="relative w-screen">
		<section
			class="bg-gradient-to-b from-blue-400 to-blue-50 dark:bg-none px-5 md:px-10 lg:px-20"
		>
			<div
				class="bg-sunflare-background-light bg-center bg-auto bg-no-repeat
				dark:bg-starfield-background-sm dark:lg:bg-starfield-background-md
				dark:bg-no-repeat dark:bg-center dark:bg-cover
				pt-48 sm:pt-60 py-12 sm:py-24 xl:py-64 text-center"
			>
				<h1
					class="text-slate-700 dark:text-slate-50
						font-sans font-light sm:font-normal tracking-tight
						dark:font-extralight dark:sm:font-light
						text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl 3xl:text-9xl"
				>
					Let's build your
				</h1>
				<h1
					class="relative justify-center text-center mx-0 my-auto pb-10 whitespace-nowrap
						font-sans sm:font-normal tracking-tight
						text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl 3xl:text-9xl
						writer sm:writer-sm md:writer-md lg:writer-lg"
				>
					<span
						id="typewriter-1"
						class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
						>web application.</span
					>
					<span
						id="typewriter-2"
						class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
						>backend service.</span
					>
					<span
						id="typewriter-3"
						class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
						>protocol api.</span
					>
					<span
						id="typewriter-4"
						class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
						>online project.</span
					>
				</h1>
				<div class="items-center justify-center mt-20 md:mt-40">
					<!-- <img
						srcset="/img/320_chris-chautauqua.png 192w, /img/256_chris-chautauqua.png 256w, /img/512_chris-chautauqua.png 512w"
						sizes="(max-width: 320px) 192px, (max-width: 640px) 256px, (max-width: 1024px) 512px"
						src="/img/512_chris-chautauqua.png"
						class="mx-auto rounded-full size-48 md:size-64 xl:size-1/4"
						alt="Christopher Jones photo in Boulder, Colorado"
					/> -->
					<h2
						class="font-sans text-slate-600 dark:text-slate-400
						text-xl sm:text-2xl md:text-3xl text-center max-w-3xl
						mx-auto px-5 md:px-10 py-10 md:py-20"
					>
						With frontend, backend, and protocol expertise, I create
						engaging, responsive, and seamless end-to-end
						applications. Let's talk!
					</h2>
				</div>
			</div>
		</section>

		<section
			class="bg-slate-100 dark:bg-slate-950 
				px-5 md:px-10 lg:px-20 py-10 md:py-20 items-center"
		>
			<h2
				class="text-slate-700 dark:text-slate-50 text-center
				font-sans font-light sm:font-normal tracking-tight
				dark:font-extralight dark:sm:font-light
				text-3xl sm:text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl 3xl:text-8xl"
			>
				How can I help you?
			</h2>
			<p
				class="sm:rounded-lg background-grid-light bg-slate-50 dark:bg-slate-900 relative font-sans
				mx-auto px-5 pt-20 pb-10 md:px-10 prose prose-p leading-loose
				text-slate-500 dark:text-slate-400 mt-10"
			>
				Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum
				vivamus arcu etiam iaculis erat risus laoreet. Posuere orci
				sociosqu potenti nulla tincidunt himenaeos. Phasellus natoque
				class orci cras; placerat turpis dui. Faucibus volutpat proin
				ullamcorper laoreet, neque vivamus justo. Sodales volutpat
				rutrum dignissim fusce, habitasse suscipit rhoncus. Eleifend
				primis arcu nec molestie cras ex dictum vehicula varius. Maximus
				dolor est senectus venenatis himenaeos tincidunt. Porta dolor
				maximus efficitur lacinia pellentesque tempus porttitor magnis
				cubilia. Fusce porttitor blandit tellus posuere finibus purus
				donec accumsan vestibulum.
			</p>
			<p
				class="relative font-sans mx-auto px-5 md:px-10 prose prose-p leading-loose
				text-slate-600 dark:text-slate-400 mt-10"
			>
				Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum
				vivamus arcu etiam iaculis erat risus laoreet. Posuere orci
				sociosqu potenti nulla tincidunt himenaeos. Phasellus natoque
				class orci cras; placerat turpis dui. Faucibus volutpat proin
				ullamcorper laoreet, neque vivamus justo. Sodales volutpat
				rutrum dignissim fusce, habitasse suscipit rhoncus. Eleifend
				primis arcu nec molestie cras ex dictum vehicula varius. Maximus
				dolor est senectus venenatis himenaeos tincidunt. Porta dolor
				maximus efficitur lacinia pellentesque tempus porttitor magnis
				cubilia. Fusce porttitor blandit tellus posuere finibus purus
				donec accumsan vestibulum.
			</p>
			<p
				class="relative font-sans mx-auto px-5 md:px-10 prose prose-p leading-loose
			text-slate-600 dark:text-slate-400 mt-10"
			>
				Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum
				vivamus arcu etiam iaculis erat risus laoreet. Posuere orci
				sociosqu potenti nulla tincidunt himenaeos. Phasellus natoque
				class orci cras; placerat turpis dui. Faucibus volutpat proin
				ullamcorper laoreet, neque vivamus justo. Sodales volutpat
				rutrum dignissim fusce, habitasse suscipit rhoncus. Eleifend
				primis arcu nec molestie cras ex dictum vehicula varius. Maximus
				dolor est senectus venenatis himenaeos tincidunt. Porta dolor
				maximus efficitur lacinia pellentesque tempus porttitor magnis
				cubilia. Fusce porttitor blandit tellus posuere finibus purus
				donec accumsan vestibulum.
			</p>
			<p
				class="relative font-sans mx-auto px-5 md:px-10 prose prose-p leading-loose
	text -slate-600 dark:text-slate-400 mt-10"
			>
				Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum
				vivamus arcu etiam iaculis erat risus laoreet. Posuere orci
				sociosqu potenti nulla tincidunt himenaeos. Phasellus natoque
				class orci cras; placerat turpis dui. Faucibus volutpat proin
				ullamcorper laoreet, neque vivamus justo. Sodales volutpat
				rutrum dignissim fusce, habitasse suscipit rhoncus. Eleifend
				primis arcu nec molestie cras ex dictum vehicula varius. Maximus
				dolor est senectus venenatis himenaeos tincidunt. Porta dolor
				maximus efficitur lacinia pellentesque tempus porttitor magnis
				cubilia. Fusce porttitor blandit tellus posuere finibus purus
				donec accumsan vestibulum.
			</p>
			<p
				class="relative font-sans mx-auto px-5 md:px-10 prose prose-p leading-loose
	text -slate-600 dark:text-slate-400 mt-10"
			>
				Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum
				vivamus arcu etiam iaculis erat risus laoreet. Posuere orci
				sociosqu potenti nulla tincidunt himenaeos. Phasellus natoque
				class orci cras; placerat turpis dui. Faucibus volutpat proin
				ullamcorper laoreet, neque vivamus justo. Sodales volutpat
				rutrum dignissim fusce, habitasse suscipit rhoncus. Eleifend
				primis arcu nec molestie cras ex dictum vehicula varius. Maximus
				dolor est senectus venenatis himenaeos tincidunt. Porta dolor
				maximus efficitur lacinia pellentesque tempus porttitor magnis
				cubilia. Fusce porttitor blandit tellus posuere finibus purus
				donec accumsan vestibulum.
			</p>
			<p
				class="relative font-sans mx-auto px-5 md:px-10 prose prose-p leading-loose
	text -slate-600 dark:text-slate-400 mt-10"
			>
				Lorem ipsum odor amet, consectetuer adipiscing elit. Rutrum
				vivamus arcu etiam iaculis erat risus laoreet. Posuere orci
				sociosqu potenti nulla tincidunt himenaeos. Phasellus natoque
				class orci cras; placerat turpis dui. Faucibus volutpat proin
				ullamcorper laoreet, neque vivamus justo. Sodales volutpat
				rutrum dignissim fusce, habitasse suscipit rhoncus. Eleifend
				primis arcu nec molestie cras ex dictum vehicula varius. Maximus
				dolor est senectus venenatis himenaeos tincidunt. Porta dolor
				maximus efficitur lacinia pellentesque tempus porttitor magnis
				cubilia. Fusce porttitor blandit tellus posuere finibus purus
				donec accumsan vestibulum.
			</p>
		</section>

		<!-- <ul role="list" class="card">
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
				<Card
					href="https://astro.build/integrations/"
					title="Integrations"
					body="Supercharge your project with new frameworks and libraries."
				/>
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore a galaxy of community-built starter themes."
				/>
				<Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/>
			</ul> -->
	</main>
</Layout>
