---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FoldSection from "../components/FoldSection.astro";
---

<Layout title="Christopher Jones | Software Development">
	<main class="relative w-screen">
		<HeroSection />
		<FoldSection />
	</main>
</Layout>
