---
---
<footer class="py-16 text-sm 2xl:text-lg 3xl:text-xl leading-6 min-h-[64px] md:min-h-[128px] bg-slate-100 dark:bg-blue-975">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="flex flex-col gap-3 items-center justify-center w-full
            text-slate-400 dark:text-slate-600">
            <div class="space-y-4"><span class="text-sky-400 dark:text-sky-700">Mountains have great souls full of memory.</span> &#8212; John O' Dohohue</div>
            <div class="space-y-4">Built with ♥️ in Colorado</div>
        </div>
    </div>
</footer>