---
import CodeWindow from "./CodeWindow.astro"
---
<section
class="relative px-0 w-full bg-gradient-to-b from-blue-400 to-blue-50 dark:bg-none"
>
<div
    class="relative
        bg-sunflare-background-light bg-top xl:bg-center bg-auto bg-no-repeat
        dark:bg-starfield-background-sm dark:lg:bg-starfield-background-md
        dark:bg-no-repeat dark:bg-center dark:bg-cover w-full"
>
    <div
        class="mx-5 lg:mx-10 2xl:mx-auto pt-40 lg:pt-40 2xl:pt-60 3xl:pt-80 pb-10
            items-center justify-center text-center
            xl:grid xl:gap-12 xl:grid-cols-12 max-w-7xl 3xl:max-w-[2560px]"
    >
        <div
            class="xl:row-start-1 xl:col-start-7 xl:col-end-13 items-center justify-center"
        >
            <h1
                class="text-slate-800 dark:text-slate-50 whitespace-nowrap
            font-sans font-light sm:font-normal tracking-tight
            dark:font-extralight dark:sm:font-light
            text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl 3xl:text-9xl"
            >
                Let's build your
            </h1>
            <h1
                class="relative justify-center text-center mx-0 my-auto pb-10 mb-10 sm:mb-20 whitespace-nowrap
            font-sans sm:font-normal tracking-tight
            text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl 3xl:text-9xl
            writer sm:writer-sm md:writer-md lg:writer-lg"
            >
                <span
                    id="typewriter-1"
                    class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
                    >web application.</span
                >
                <span
                    id="typewriter-2"
                    class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
                    >backend service.</span
                >
                <span
                    id="typewriter-3"
                    class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
                    >data api.</span
                >
                <span
                    id="typewriter-4"
                    class="absolute top-0 left-0 right-0 w-0 text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-600 dark:from-fuchsia-400 from-20% to-fuchsia-900 dark:to-fuchsia-700 to-90% max-w-min overflow-hidden mx-auto my-0 py-1 md:py-2 opacity-100"
                    >next great project.</span
                >
            </h1>
            <h2
                class="font-sans text-slate-600 dark:text-slate-400
            text-md sm:text-xl md:text-2xl 2xl:text-3xl text-center max-w-3xl
            mx-auto px-5 md:px-10 py-10 3xl:py-20"
            >
                With frontend, backend, and data expertise, I
                create responsive, secure, and seamless end-to-end
                applications. Let's talk!
            </h2>
        </div>
        <CodeWindow />
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5616 999">
        <g fill="none" fill-rule="evenodd">
            <path
                class="fill-blue-200 stroke-2 stroke-white dark:fill-slate-950 dark:stroke-blue-800"
                d="m2559.262 343.538 45.027-33.737c22.51 11.246 37.122 16.868 43.835 16.868 10.07 0 31.624-69.617 84.973-69.617 53.349 0 152.606 34.05 187.662 34.05h230.639c22.769 0 38.712.712 64.486 9.193 12.548 4.13 48.489-2.68 62.68 0 50.345 9.506 32.081 26.374 50.345 26.374 38.53 0 106.2-35.88 146.665-26.374 40.464 9.506 37.13 26.374 60.937 26.374 23.808 0 18.46-35.88 58.202-26.374 39.744 9.506 147.737 67.9 198.665 67.9 20.003 0 43.158-10.475 66.135-23.196 0-16.568 2.258-18.33 22.842-24.206 20.585-5.876 14.176 0 16.907-10.992 15.686-9.506 30.945-18.7 38.757-18.7 35.809 0 113.193 33.15 182.002 52.437 40.586 13.116 12.145-16.869 33.2-16.869 29.443 3.274 261.037 37.318 296.624 69.462 35.587 32.143-2.438-21.72 133.157 5.279 6.367 1.268 18.228 3.577 23.922 8.341 4.064 3.4 2.156 9.447 5.773 10.898 4.226 1.696 2.715-14.122 13.637-8.97 10.922 5.154 17.24 14.395 27.302 22.799 14.843 9.327 21.792 12.988 77.828 23.985 38.122 5.19 64.366 21.51 70.894 5.257 6.528-16.254 17.836-7.333 30.175-16.254 6.707-4.849 1.555-13.435 8.4-18.562 11.447-8.574 28.084-15.101 45.476-23.24 1.582-.74 2.499-13.103 4.117-13.853 24.796-11.495 47.115-23.616 93.35-46.812 14.782-2.98 43.655 15.05 90.984 9.01 10.89 1.628 63.125 56.053 104.34 66.64 97.583 25.069 139.36-19.24 220.264-19.24 53.936 0 126.115-24.913 216.536-74.74V999H2559.262V343.538Z"
            ></path>
            <path
                class="fill-blue-300 stroke-2 stroke-white dark:fill-[#101A30] dark:stroke-blue-800"
                d="M0 121.27c14.63-.077 36.503-13.34 65.621-39.789 29.818-27.084 56.081 5.344 77.94 0 24.346-5.951 54.83-27.084 66.68-8.843 75.514 33.736 87.675 33.736 131.568 55.464 14.905 7.378 85.017 21.995 85.017 33.61 23.459 5.919 70.22 18.558 176.109-8.054 49.301-32.389 25.843 1.055 91.401-16.216 11.857-18.46 46.603-40.194 109.519-53.67 4.028-.862 15.422-2.29 21.83-9.884 13.992-16.578 35.432-22.018 63.986-31.33 0 21.189 5.842 30.08 17.023 20.841 1.268-7.357 4.747-14.237 9.498-20.461 8.87-11.62 22.175-20.958 33.803-26.853 6.84-3.467 31.012-14.586 43.75-15.148 36.32 11.067 86.76 5.849 105.183 14.035 25.361 11.27 68.334 15.556 124.397 48.427 16.106 9.443 51.583 15.729 68.56 26.383 10.8 6.778 20.188 11.701 30.468 18.668 1.292.875 0 5.105 2.757 18.123.34 1.606 3.993 6.634 13.28 5.816 8.932-.787 14.991-9.771 28.708-4.287 5.104 2.041 5.104 17.72 22.376 22.239 10.138 2.651 19.287 3.317 26.07 17.56 4.97 10.437 28.69-9.739 44.736-6.19 12.047 2.666 0 30.289 104.961 50.625 28.483 5.519 45.9-23.395 74.61-34.404 5.813-2.23 13.845 5.906 19.931 3.852 3.569-1.204 2.295-8.29 5.932-9.508 13.311-4.463 44.544 11.005 59.195 7.655 40.285-9.21 67.544-32.505 110.711-23.946 64.268 12.744 239.807 85.69 421.672 120.493 140.784 26.943 230.192 67.06 301.97 67.06 184.112 45.21 177.597 88.574 273.159 88.574 95.562 0 119.084-1.147 272.58 40.85 153.496 41.997 177.259 67.769 389.75 41.053 148.361 29.047 169.312 18.7 320.841 75.187 151.53 56.488 128.348 56.488 196.562 69.92 68.213 13.43 268.873 14.395 397.53 56.314 128.659 41.92 411.329-100.662 532.237-100.662 120.909 0 157.774 50.899 212.878 50.899 55.105 0 129.064-59.194 187.109-59.194 58.045 0 38.476 26.777 133.595 0 63.413-17.85 110.245-7.153 140.497 32.093V999H0V121.27Z"
            ></path>
            <path
                class="fill-blue-400 stroke-2 stroke-white opacity-50 dark:opacity-100 dark:fill-[#121D37] dark:stroke-blue-800 dark:stroke-2"
                d="M0 805.54c160.408-57.061 276.905-95.784 349.492-116.167 49.992-14.038 222.41-69.816 250.44-76.35 31.529-7.347 61.471-29.596 85.53-33.258 18.776-2.858 37.659 9.574 55.654 7.427 45.972-5.488 106.52-62.718 154.727-65.872 144.57-9.46 241.756-62.327 352.747-73.854 159.263 98.068 132.26 93.069 367.933 173.65 12.173 4.162 57.455 1.465 135.846-8.092 158.033-22.916 274.1-31.527 348.202-25.832 109.878 59.271 185.022 68.425 289.23 74.818 69.472 4.262 157.388-9.37 263.749-40.894 102.046 34.44 178.55 54.07 229.514 58.89 76.445 7.231 223.175 9.367 349.534-17.996 160.167-13.743 268.689-30.072 325.567-48.986l288.796 95.609c107.698 84.608 269.828 135.528 486.39 152.759 120.153 9.56 294.737-14.569 523.754-72.386 90.315 67.503 207.955 110.706 352.922 129.611 57.952 9.898 193.276 9.898 405.973 0V999H0V805.54Z"
            ></path>
        </g>
    </svg>
</div>
</section>
