---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en" class="bg-stone-50 dark:bg-stone-950">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="/app.css" rel="stylesheet" />
		<title>{title}</title>
	</head>
	<body class="antialiased 
		bg-no-repeat dark:bg-no-repeat
		bg-gradient-to-b 
			from-white from-40% 
			to-stone-50 to-90% 
		dark:bg-gradient-to-b 
			dark:from-stone-800 dark:from-40% 
			dark:to-stone-950 dark:to-90%
		text-stone-900 dark:text-stone-50 h-dvh dark:h-dvh">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
